header {
    background-color: #000;
    padding: 20px 0;
}

.caja{
   display: flex;
   justify-content: space-evenly;
   align-items: center;
}
.caja img{
    height: 150px;
    
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
    color: #d6b573;
    text-decoration: underline;
}